@import url('./variables.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-primario);
}
header{
    background-color: whitesmoke;
    padding: 1rem;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
    background-color: lightgray;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
}

nav ul li a:focus{
    outline: 3px solid black;
    outline-offset: 4px;
}
nav ul li a[aria-current="page"]{
    color: var(--color-tono);
    font-weight: bold;
}

nav ul li a:hover{
    color: dodgerblue;
}
main{
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}
main section{
    margin-bottom: 4rem;
}
details{
    background-color: var(--color-secundario);
    border: 2px solid lightgray;
    border-radius: 0.8rem;
    padding: 1rem;
    padding-top: 1.5rem;
}
summary{
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
}
details article{
    margin-top: 1rem;
    line-height: 1.8;
}
main p{
    line-height: 1.8;
}

main h2{
    margin-bottom: 1.8rem;
}
summary:focus{
    outline: 3px solid black;
    outline-offset: 4px;
}
details:hover{
    border-color: gray;
}